
@{
    ViewBag.Title = "AjouterCourrier";
}

<h2>Ajouter Courrier</h2>

<link href="~/Content/input.css" rel="stylesheet" />
<link href="~/Content/slider.css" rel="stylesheet" />

<div id="courrierForm">

    @using (Html.BeginForm("AjouterCourrierForm", "Courrier", FormMethod.Post))
    {
        <div class="control-label col-md-2">
            Dossier
        </div>
        <select name="dos" id="dos" class="form-control">
            @foreach (var item in ViewBag.lService)
            {
                <option value="@item">@item</option>
            }
        </select>
        <div class="control-label col-md-2">
            Nom Organisme
        </div>
        <input id="orgName" name="orgName" type="text" class="form-control" />

        <div class="control-label col-md-2">
            Adresse Organisme
        </div>
        <input id="orgAddress" name="orgAddress" type="text" class="form-control" />


        <div class="control-label col-md-2">
            Type Courrier
        </div>
        <select name="type" id="type" class="form-control">
            <option value="courrier">Courrier</option>
            <option value="document">Document</option>
        </select>
        <div class="control-label col-md-2">
            Nature Courrier
        </div>
        <select name="nature" id="nature" class="form-control">
            <option value="facture">Facture</option>
            <option value="borderau">Borderau</option>
        </select>

        <div class="control-label col-md-2">
            Date Courrier
        </div>
        <input id="dateCourrier" name="dateCourrier" type="date" class="form-control" />
        <div class="control-label col-md-2">
            Date Arrivée
        </div>
        <input id="dateArrive" name="dateArrive" type="date" class="form-control" />
        <div class="control-label col-md-2">
            Date de Creation
        </div>
        <input id="dateCreation" name="dateCreation" type="date" class="form-control" />

        <div class="control-label col-md-2">
            Unité Administration
        </div>
        <input id="orgAddress" name="orgAddress" type="text" class="form-control" />
        <div class="control-label col-md-2">
            Service
        </div>
        <select name="ser" id="ser" class="form-control">
            @foreach (var item in ViewBag.lService)
            {
                <option value="@item">@item</option>
            }
        </select>

        <div class="control-label col-md-2">
            Employé
        </div>
        <select name="emp" id="emp" class="form-control">
            @foreach (var item in ViewBag.lService)
            {
                <option value="@item">@item</option>
            }
        </select>
        <div class="control-label col-md-2">
            Objet Courrier
        </div>
        <input id="objCourrier" name="objCourrier" type="text" class="form-control" />

        <div class="control-label col-md-2">
            Commentaire
        </div>
        <input id="com" name="com" type="text" class="form-control" />

        <div class="control-label col-md-2">
            Demande
        </div>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <br />

        <div class="control-label col-md-2">
            Attacher PDF/Word
        </div>
        <input type="file" name="upload" accept="application/pdf,application/vnd.msword" />


        <input id="AjouterCourrierForm" type="submit" value="Ajouter" class="btn" onclick="location.href='@Url.Action("AjouterCourrier", "Courrier")'" />
    }

</div>

