<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestion des Courriers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/global.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="display : flex;align-items:center;  width:100%; padding : 5px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>*@
            <div style="margin-left: 150px; margin-right: 200px">
                <a href="@Url.Action("index", "Home")">   <img src="~/Content/logo.png" alt="" style="height : 45px; width:auto; border-radius: 15px; cursor: pointer" /></a>

            </div>
            @if (User.IsInRole("AdminBO"))
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Reponses", "Index", "Reponses")</li>
                        <li>@Html.ActionLink("Courriers", "Index", "Courriers")</li>
                        <li>@Html.ActionLink("Dossiers", "Index", "Dossiers")</li>
                        <li>@Html.ActionLink("EmployeBureauOrdres", "Index", "EmployeBureauOrdres")</li>
                        <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                    </ul>
                </div>
            }
            @if (User.IsInRole("EmployeBO"))
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Reponses", "Index", "Reponses")</li>
                        <li>@Html.ActionLink("Courriers", "Index", "Courriers")</li>
                        <li>@Html.ActionLink("Dossiers", "Index", "Dossiers")</li>
                    </ul>
                </div>
            }
            @if (User.IsInRole("AdminService"))
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Courriers a traiter", "ListTraiter", "Courriers")</li>
                        <li>@Html.ActionLink("Mes courrier", "ListMessageAgent", "Courriers")</li>
                        <li>@Html.ActionLink("AgentServices", "Index", "AgentServices")</li>
                        <li>@Html.ActionLink("Services", "Index", "Services")</li>
                    </ul>
                </div>
            }
            @if (User.IsInRole("EmployeService"))
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Courriers a traiter", "ListTraiter", "Courriers")</li>
                        <li>@Html.ActionLink("Mes courrier", "ListMessageAgent", "Courriers")</li>

                    </ul>
                </div>
            }
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Notifications", "Index", "Notifications")</li>
                            <li style="margin-left: 150px; ">@Html.ActionLink("Logout", "Logout", "EmployeBureauOrdres", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li> @Html.Label(User.Identity.Name, new { @class = "navbar-brand" })</li>
                        </ul>
                    </div>

                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse" style="margin-left: 400px; ">
                        <ul class="nav navbar-nav">
                            <li style="font-weight: 700; background: #343333; border-radius: 15px ">@Html.ActionLink("Je suis Agent de Service", "Auth", "AgentServices")</li>
                            <li style="font-weight: 700; background: #343333; border-radius: 15px;margin-left: 10px ">@Html.ActionLink("Je suis Employé Bureau d'ordre", "Auth", "EmployeBureauOrdres")</li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
